<h1>New Project</h1>

<%= form_for @project, :method => 'post' do |f| %>

	<%= f.text_field :name, placeholder: "Name" %>
	<%= f.text_area :description, placeholder: "Project Description" %>
	<%= f.select :category, options_for_select(["Tech", "Non-Tech"]) %>
	<%= f.number_field :goal, placeholder: "Goal" %>
	<%= f.date_field :end_date %>

	<h3>Rewards</h3>
	<div class='rewards'>
		<%= f.fields_for :rewards do |reward| %>
			<%= render 'reward_fields', :f => reward %>
		<% end %>
		
		<div class="links">
			<%= link_to_add_association 'add reward', f, :rewards %>
		</div>
	</div>
	<%= f.submit 'Submit', class:'button tiny' %>
<% end %>