<h1><%= @project.name %></h1>
<%= image_tag @project.image.url %>
<p>Goal: <%= @project.goal %></p>
<p>Funded Amount: <%= @project.funded_amount %></p>
<p>Description: <%= @project.description %></p>


